body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}


h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p{
  margin: 0;
  padding: 1em 0;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top:1rem;
}

li{
    padding-right: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
}

.fylo-image{
    height: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

