body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}


h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p{
  margin: 0;
  padding: 1em 0;
}


header{
    font-size: 0.7em;  
    height:60px; 
    margin-left:1em; 
}

nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;    
}

li{
    list-style: none;
    margin-right:2em;
    padding-top:0.5em;
}

.fylo-image{
    height: 30px;
    width: 20%;
    padding-top:12px;
}
.content-wrap{
  margin: 0em 1em 0em 1em;
}

img{
  display: block;
  width: 100%;
  
}
/*****SectionA*******/
#section-a{
  margin-top: 100px;
  
}

.content-text {
  
  margin-top:-1.3em;
}

.content-form form{
  display: flex;
  flex-direction: column;
}

.searchbar1{
  
    width: 100%;
    padding: 0.6em 0em 0.6em 1em;
}

.submit1{
    margin-top: 1em;
    
    padding: 0.6em 0em 0.6em 0em;
    width: 100%;
    background-color: hsl(224, 93%, 58%);
    border-radius: 0.2em;
    color: white;
    border-color: hsl(224, 93%, 58%);;
}



