body {
  
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%; /*a width of 100% shrinks the image down*/
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p{
  margin: 0;
  padding: 1em 0;
}
